main {
  margin: 2rem;
}

.meme--container {
  display: grid;
  gap: 1rem;
  max-width: 1000px;
  margin-inline: auto;
  padding-top: 20px;
}

@media (min-width: 460px) {
  .meme--container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.meme--input {
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  min-height: 35px;
}

.meme--button {
  grid-column: 1 / -1;
  margin-bottom: 1rem;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  border-width: 0;
  min-height: 40px;
  color: #ffffff;
  font-family: "Karla";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.1em;
  cursor: pointer;
}

/* Result */
.result--container {
  height: auto;
  max-width: 1000px;
  margin-inline: auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.result--container img {
  border-radius: 3px;
  width: 100%;
  height: auto;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
